.main{
    flex :1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;

}

.main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;

}


.main .nav img{
    width: 40px;
    border-radius: 50%;

}


.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin:  50px 0px;
    font-size: 56px;
    color: bisque;
    font-weight: 500;
    padding: 20px;


}

.main .greet span{
    background: -webkit-linear-gradient(16deg, blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}


.main .cards .card{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.main .cards :hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}






